<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit your Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
      <div class="mb-3">
        <lebel for="title" class="form-lebel">Title</lebel>
        <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
        <div class="valid-feedback">Title Looks Good</div>
        <div class="invalid-feedback">Title Should be short</div>
      </div>

      <div class="mb-3">
        <lebel for="description" class="form-lebel">Description</lebel>
        <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
        <div class="invalid-feedback">Description should be short</div>
      </div>

      Original Image
      <div class="mb-3">
        <img src='<%=originalImageUrl%>'>
      </div>
    
      <div class="mb-3">
        <lebel for="image" class="form-lebel">Upload New Image</lebel>
        <input name="listing[image]" type="file" class="form-control"/>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <lebel for="price" class="form-lebel">Price</lebel>
          <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
          <div class="invalid-feedback">Price should be valid</div>
        </div>
        <div class="mb-3 col-md-8">
          <lebel for="country" class="form-lebel" >Country</lebel>
          <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required/>
          <div class="invalid-feedback">Country name should be valid</div>
        </div>
      </div>
      <div class="mb-3">
        <lebel for="location" class="form-lebel">Location</lebel>
        <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required/>
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <div class="mb-3">
        <lebel for="category" class="form-lebel">Select your listing category</lebel>
        <select class="form-control" name="listing[category]">
          <option value="Trending">Trending</option>
          <option value="Rooms">Rooms</option>
          <option value="Iconic Cities">Iconic Cities</option>
          <option value="Mountain">Mountain</option>
          <option value="Castles">Castles</option>
          <option value="Amazing Pools">Amazing Pools</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
          <option value="Artic">Artic</option>
        </select>
        <div class="invalid-feedback">Please select your listing category</div>
      </div>
      
      <button class="btn btn-dark edit-btn mt-3 mb-4">Edit</button>
    </form>
  </div>
</div>