<% layout("/layouts/boilerplate") %>
<div class="row">
  <div class="col-8 offset-3 mt-3">
    <h3><%= listing.title %></h3>
  </div>
  <div class="card col-6 offset-3 show-card listing-card">
    <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image">
    <div class="card-body">
      <p class="card-text">Owned by <i><%= listing.owner.username %></i></p>
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
      <p class="card-text"><%= listing.location %></p>
      <p class="card-text"><%= listing.country %></p>
    </div>
  </div>
  <br />
  <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
    <div class="btns">
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-1 offset-3 edit-btn">Edit</a>
      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark offset-5">Delete</button>
      </form>
    </div>
  <% } %>
  
  <div class="col-8 offset-3 mb-3">
    <% if(currUser) {%>
      <hr/>
      <h4>Leave a Review</h4>
      <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
        <!-- <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <input name="review[rating]" id="rating" type="range" min="1" max="5" class="form-range">
        </div> -->
        <div class="mb-3 mt-3">
          <label for="rating" class="form-label">Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>
        <div class="mb-3 mt-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea name="review[comment]" id="comment" type="textarea" cols="30" rows="5" class="form-control" required></textarea>
          <div class="invalid-feedback">Please Submit Some Comments For Review</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <hr>
    <% } %>

    <% if(listing.reviews.length > 0) { %>
    <div class="row">
      <p><b>All Reviews</b></p>
      <% for(review of listing.reviews){ %>
        <div class="card col-5 mb-3 ms-3">
          <div class="card-body mt-1">
            <h5 class="card-title">@<%= review.author.username %></h5>
            <p class="starability-result" data-rating="<%= review.rating %>">Star</p>
            <p class="card-text"><%= review.comment %></p>
            <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
              <button class=" btn btn-sm btn-dark mb-3">Delete</button>
            </form>
          </div>
        </div>
      <% } %>
    </div>
    <% } %>
  </div>

  <!-- Map by mapbox -->
  <!-- <div class="col-6 offset-3 mb-3">
    <h3>Where you'ill be</h3>
    <div id="map"></div>
  </div> -->
<!-- </div> -->

<!-- <script>
  let mapToken= "
  console.log(mapToken);
  mapboxgl.accessToken = mapToken;

  const map = new mapbox.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v12",
    center: [-74.5, 40],
    zoom: 9,
  });
</script> -->

<!-- Jugad -->

<div class="col-6 offset-3 mb-3">
  <%if (coordinates.length > 0) {%>
  <div id="map" style="height: 400px;"></div>
    <script>
      var redIcon = L.icon({
      iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
      iconSize: [25, 41], // size of the icon
      iconAnchor: [12, 41], // point of the icon which will correspond to marker's location
      popupAnchor: [1, -34] // point from which the popup should open relative to the iconAnchor
    }); 
    
    var map = L.map('map').setView(['<%=coordinates.latitude%>', '<%=coordinates.longitude%>'], 13); // London coordinates

    // Define the tile layers
    var streets = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });

    // Add default layer (e.g., streets) to the map
    streets.addTo(map);

    // Add layer control
    var baseMaps = {
      "Streets": streets,
    };

    L.control.layers(baseMaps).addTo(map);

      var marker = L.marker(['<%=coordinates.latitude%>', '<%=coordinates.longitude%>'], {icon: redIcon}).addTo(map)
      .bindPopup("<h6><%=listing.location%>, <%=listing.country%></h6>Exact location provided after booking.").openPopup();
    </script>
    <%} else{%>
      <h1>Cordinates Error</h1>
    <%}%>
</div>
